body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: none;
}

#loader.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  width: 0;
  height: 0;
  transition: opacity 2s ease-out;
}
#loader.hidden img {
  display: none;
}
#loader.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

#info {
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: F 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#info > div {
  padding:10px; 
  background:rgba(0,0,0,0.7);
  color: #fff;
  border-radius: 10px;
}
